body{
    margin: 0;
    
}
.main{
    width: 100%;
    height: 3000px;
    background-color: black;
    padding-top: 15px;
}
.text_block{
    width: 368px;
    height: 253px;
    padding: 1px;
   border-radius: 10px;
    
    
}
.blocks_with_text{
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
#block1_big{
    background: linear-gradient(#5B6978, #FC84FF);
}
#block2_big{
    background: linear-gradient(#5B6978, #54D1FA);
}
#block3_big{
    background: linear-gradient(#5B6978, #A9AAFD);
}
.text_block_in_block{
    width: 368px;
    height: 253px;
    background-color: black;
    border-radius: 10px;
}
.img_in_block{
    margin-left: 20px;
    margin-top: 20px;
}
.text_in_block{
    width: 328px;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;  
    margin-left: 20px;
}
.line{
    width: 1562px;
    height: 2px;
    background-color: #0F1113;
    margin: auto;
    margin-top: 70px;
}
.big_text{
    color: #C1ABFF;
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: 200px;
    font-size: 40px;
}
.small_text{
    color: white;
    display: flex;
    font-size: 16px;
    width: 1088px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}
.block{
    width: 71px;
    height: 186.717px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 196px;
    border-radius: 10px;
}
.text_pod_line{
    width: 1129px;
    height: 152px;
    
}
.stolbik_leviy{
    margin-top: 90px;
}
#block1{
    width: 73px;
    height: 375.344px;
    background-color: #F787FF;
}
#block2{
    height: 312.787px;
    width: 73px;
    background-color: #CA9BFE;
}
#block3{
    height: 185.717px;
    width: 73px;
    background-color: #A6ACFD;
}
#block4{
    height: 144.664px;
    width: 73px;
    background-color: #89B9FC;
}
#block5{
    height: 87.971px;
    width: 73px;
    background-color: #76C2FB;
}
#block6{
    height: 78.197px;
    width: 73px;
    background-color: #68C8FB;
}
#block7{
    height: 57.576px;
    width: 73px;
    background-color: #5ECDFB;
}
#block8{
    height: 35.188px;
    width: 73px;
    background-color: #54D1FA;
}
.tochka{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F787FF;
    margin-left: 93px;
    margin-top: 10px;
    
}
#tochka2{
    background-color: #CA9BFE;
}
#tochka3{
    background-color: #A6ACFD;
}
#tochka4{
    background-color: #89B9FC;    
}
#tochka5{
    background-color: #76C2FB;
}
#tochka6{
    background-color: #68C8FB;
}
#tochka7{
    background-color: #5ECDFB;
}
#tochka8{
    background-color: #54D1FA;
}
.text_tochka{
    color: white;
    position: absolute;
    font-size: 20px;
    margin-left: 20px;
    
    justify-content: space-between;
    
}
.palka{
    width: 6px;
    height: 1226px;
    background-color: wheat;
    margin-left: 946px;
    margin-top: -1300px;
    border-radius: 17px;
background: var(--grad-2, linear-gradient(180deg, #FC84FF 0%, #54D1FA 100%));
align-items: center;
position: relative;
}
.krug{
    width: 44px;
    height: 44px;
    position: absolute;
    border-radius: 50%;
    
    right: -18.5px;
background-color: #F18AFF;
}
#krug1{
    top: 220px;
    background-color: #D596FE;
}
#krug2{
    top: 463px;
    background-color: #B2A6FD;
}
#krug3{
    top: 740px;
    background-color: #8EB7FC;
}
#krug4{
    top: 997px;
    background-color: #7AC0FB;
}
#krug_in{
background-color: black;
width: 38px;
height: 38px;
z-index: 1;
right: -16px;
top: 3px;
}
#krug_in4{
    background-color: black;
    width: 38px;
    height: 38px;
    z-index: 1;
    right: -16px;
    top: 74
    3px;
    }
#krug_in1{
    background-color: black;
    width: 38px;
    height: 38px;
    z-index: 1;
    right: -16px;
    top: 223px;
}
#krug_in5{
    background-color: black;
    width: 38px;
    height: 38px;
    z-index: 1;
    right: -16px;
    top: 1000px;
}
#krug_in2{
    background-color: black;
    width: 38px;
    height: 38px;
    z-index: 1;
    right: -16px;
    top: 466px;
}
.text_in_krug{
    color: white;
   bottom: -12px;
   left: 14px;
    font-size: 20px;
    position: absolute;
}
.text_spring{
    width: 230px;
    height: 175px;
    background-color: black;
    margin-left: 37px;
    position: absolute;
    margin-top: 15px;
}
.months_spring{
    font-size: 20px;
    color: #F18AFF;
}
.mini_text_{
    font-size: 16px;
    color: #5B6978;
    margin-top: 5px;
}
.text_summer{
    width: 230px;
    height: 175px;
    background-color: black;
    margin-left: 37px;
    position: absolute;
    margin-top: 240px;
}
.months_summer{
    font-size: 20px;
    color: #D596FE;
}
.text_autumn{
    width: 330px;
    height: 275px;
    background-color: black;
    margin-left: 37px;
    position: absolute;
    margin-top: 476px;
}
.months_autumn{
    font-size: 20px;
    color: #B2A6FD;
}