body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    overflow-x: hidden;
}



/* languages */
.languages, .languages2{
    width: 60px;
    height: 100px;
    background-color: #0F1113;
    position: absolute;
    top: 60px;
    z-index: 2;
}
.langchoose, .langchoose2{
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.langbutton, .langbutton2{
    width: 50px;
    height: 60px;
    display: flex
}
.langbutton:hover, .langbutton2:hover{
    cursor: pointer;
}
.langdarr{
    width: 16px;
    height: 16px;
    margin-left: 12px;
    margin-top: 20px;
}
.langflag{
    width: 20px;
    height: 20px;
    margin-top: 19px;
    background: url(img/lang_en.svg);
}
.ru, .ua, .en{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    color: #FFF;
    font-weight: 600;
}
.ru:hover, .ua:hover, .en:hover{
    cursor: pointer;
}



/* default menu */
.topmenu{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #151D25;
    background: #0F1113;
    display: flex;
    vertical-align: center;
}
.linksbox{
    width: 330px;
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: 22px;
    padding: 0;
    position: absolute;
    left: 5%;
}
.topmenulink{
    width: 70px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.topmenulink:hover{
    cursor: pointer;
    text-decoration: underline;
}
.logo{
    width: 240px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 10px;
}
h1{
    color: var(--main-white, #FFF);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 20px;
}
.logo img{
    width: 32px;
    height: 28.571px;
}
.toprightpart{
    width: 310px;
    height: 60px;
    display: flex;
    gap: 40px;
    position: absolute;
    right: 5%;
}
.toprightpart a{
    width: 90px;
    height: 24px;
    margin-top: 18px;
}
@media screen and (max-width: 1250px){
    .linksbox{
        gap: 30px;
        left: 3%;
    }
    .toprightpart{
        gap: 30px;
        right: 3%;
    }
}



/* drop-down menu */
.dropmenubutton, .dropmenu, .langchoose2{
    display: none;
}
.dropmenubutton:hover{
    cursor: pointer;
}
.icon{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
}
.dropmenubutton{
    width: 45px;
    height: 45px;
    background: url(img/menu.svg);
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    transition: all 0.3s linear;
}
.dropmenu{
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 60px;
    margin-left: -100%;
    background: rgba(0, 0, 0, 0.98);
    z-index: 100;
}

.langchoose2{
    position: absolute;
    right: 3%;
}
.droplink{
    width: 100%;
    height: 80px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    position: relative;
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
}
.droplink:hover{
    cursor: pointer;
    text-decoration: underline;
}
.hr{
    width: 100%;
    height: 2px;
    background-color: rgba(94, 94, 94, 1)
}


.dropmenu-unactive{
    margin-left: -100%;
    transition: all 0.3s linear;
}
.dropmenu-active{
    margin-left: 0;
    transition: all 0.3s linear;
}
.dropmenubutton-add{
    transform: rotate(180deg);
    transition: all 0.3s linear;
}

.dropmenubutton-anim{
    animation: 0.3s linear;
    animation-name: dba;
    transform-origin: center;
}
.dropmenubutton-anim-reverse{
    animation: 0.3s linear;
    animation-name: dbar;
    transform-origin: center;
}


@media screen and (max-width: 1000px){
    .toprightpart, .topmenulink{
        display: none;
    }
    .dropmenu, .dropmenubutton{
        display: block;
    }
    .langchoose2{
        display: flex;
    }
}
@keyframes dba{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
@keyframes dbar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-180deg);
    }
}



/* Finity Touch section */
.finitytouch{
    height: 980px;
    background: #000000;
    /* margin-top: 60px; */
    position: relative;
    z-index: 0;
}
.finitytouch_about{
    width: 450px;
    height: 230px;
    margin: auto;
    padding-top: 50px;
    position: relative;
}
.finitytouch_about_header{
    width: 350px;
    height: 62px;
    margin: auto;
    background: url(img/Finity\ Touch.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.finitytouch_about_p1{
    width: 90%;
    height: 68px;
    margin: auto;
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
    line-height: 33.6px;
}
.finitytouch_about_p2{
    width: 70%;
    height: 45px;
    position: absolute;
    bottom: 0;
    left: 15%;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
}
.finitytouch_logo{
    width: 424px;
    height: 424px;
    margin-left: calc((100% - 424px) / 2);
    margin-top: 40px;
}
.finitytouch_buylogo{
    width: 300px;
    height: 60px;
    margin-left: calc((100% - 300px) / 2);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #FC84FF;
    border-radius: 10px;
}

/* Vectors */
.vector1{
    width: 160px;
    height: 390px;
    margin: 0;
    position: absolute;
    left: -48px;
    top: 432px;
}
.vector2{
    width: 1010px;
    height: 536px;
    position: absolute;
    left: -175px;
    top: 538px;
}
.vector3{
    width: 965px;
    height: 470px;
    position: absolute;
    
}




.activelink{
    color: #54D6FF;
}
.buy{
    color: #FC84FF;
}
.none{
    display: none;
}

